---
import SearchBar from "../components/menu/searchbar";
import Profile from "../components/menu/profile";
import MenuFooter from "../components/menu/footer";
---
<html lang="en-US" class="">
    <p class="">Temporary homepage content</p>
    <SearchBar />
    <Profile name="francisco casiano" desc="description" />
    <MenuFooter/>
</html>
