---
import SearchBar from "../components/menu/searchbar";
import Profile from "../components/menu/profile";
import MenuFooter from "../components/menu/footer";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <SearchBar />
    <Profile name="francisco casiano" desc="hey there!" />
    <MenuFooter/>
</body>
</html>