.navbar-container {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-right {
    overflow: hidden;
}

/* For small screens */
@media screen and (max-width: 912px) {
    .navbar-container {
    }
}

/* For large screens */
@media screen and (min-width: 1400px) {
}
